<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<!--
<div class="d-flex justify-content-center">
  <h1>Đăng nhập</h1>
</div>
-->
<!--===== INNERPAGE-WRAPPER ====-->
<section class="innerpage-wrapper">
  <div id="login" class="innerpage-section-padding">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          <div class="flex-content">
            <div class="custom-form custom-form-fields">
              <h3>Login</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <form>

                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Username"  required/>
                  <span><i class="fa fa-user"></i></span>
                </div>

                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password"  required/>
                  <span><i class="fa fa-lock"></i></span>
                </div>

                <div class="checkbox">
                  <label><input type="checkbox"> Remember me</label>
                </div>

                <button class="btn btn-orange btn-block">Login</button>
              </form>

              <div class="other-links">
                <p class="link-line">New Here ? <a href="#">Signup</a></p>
                <a class="simple-link" href="#">Forgot Password ?</a>
              </div><!-- end other-links -->
            </div><!-- end custom-form -->

            <div class="flex-content-img custom-form-img">
              <img src="images/login.jpg" class="img-responsive" alt="registration-img" />
            </div><!-- end custom-form-img -->
          </div><!-- end form-content -->

        </div><!-- end columns -->
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end login -->
</section><!-- end innerpage-wrapper -->
<div class="container-fluid">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="border" style="border-radius: 20px;">
        <form action="">
          <div class="row">
            <div class="col-12 d-flex pl-5 pr-5">
              <button class="btn social-login d-flex align-items-center justify-content-center">
                <span class="material-icons">facebook</span>Đăng nhập bằng Facebook
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-12 d-flex pl-5 pr-5">
              <button class="btn social-login d-flex align-items-center justify-content-center">
                <span class="material-icons">gmail</span>Đăng nhập bằng Gmail</button>
            </div>
          </div>
          <div class="row">
            <div class="col-6 d-flex pl-5">Email</div>
            <div class="col-6"><input type="text"></div>
          </div>
          <div class="row">
            <div class="col-6 d-flex pl-5">Mật khẩu</div>
            <div class="col-6"><input type="text"></div>
          </div>
          <div class="row">
            <div class="col-6"></div>
            <div class="col-6">
              <button>Đăng nhập</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-3"></div>
  </div>

</div>
</body>
</html>
